.input{
    border: 4px solid lightblue;
    margin: 1%;
    height:80%;
    width: 15%;
    font-size: 4rem;
    text-align: center;
}
span{
    font-size: 2rem;
}
button{
    height: 7rem;
    width: 10rem;
    font-size: 2rem;
    margin-top: -2rem;
    background-color: rgb(129, 161, 192);
    color: white;
    border-radius: 20%;
}
.input:focus{
    outline: none;
    color: white;
    background-color: lightslategray;

}
